---
title: 88x31 Buttons
description: 'Here are my buttons. They are mine.'
layout: page
permalink: '/88x31/index.html'
---

<article class="wrapper">
  <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(88px, 1fr)); grid-gap: 10px; justify-content: space-between; image-rendering: pixelated;">
    {# Taken from https://localghost.dev/ #}
    <img src="https://imagedelivery.net/lVcuT_pwLP04sLLiwgDk2g/99acb700-c153-4b46-2966-bff38c173400/public" alt="Made with 11ty" width="88" height="31">
    {# Taken from https://chrisburnell.com/note/eleventy-animated-88x31/ #}
    <img src="https://imagedelivery.net/lVcuT_pwLP04sLLiwgDk2g/81c203d6-780c-472b-abcd-56aaeb18b200/public" alt="Built with Eleventy" width="88" height="31">

    {# Found on https://discourse.32bit.cafe/t/share-your-88x31s/280/101 #}
    <a href="https://en.wikipedia.org/wiki/Snooty">
      <img src="https://imagedelivery.net/lVcuT_pwLP04sLLiwgDk2g/b78164c9-dbba-450d-7c49-07dd14acc600/public" alt="Snooty the Manatee" width="88" height="31">
    </a>

    {# Found on https://discourse.32bit.cafe/t/share-your-88x31s/280/96 #}
    <a href="https://pbskids.org/">
      <img src="https://imagedelivery.net/lVcuT_pwLP04sLLiwgDk2g/825415ad-0e7a-40fd-0ac5-113252aab400/public" alt="PBS Kids" width="88" height="31">
    </a>

    {# Found on https://discourse.32bit.cafe/t/share-your-88x31s/280/92 #}
    <a href="https://homestarrunner.com/">
      <img src="https://imagedelivery.net/lVcuT_pwLP04sLLiwgDk2g/d7bf2422-fe7a-4643-08a5-cba8a49e8000/public" alt="Homestar Runner" width="88" height="31">
    </a>

    {# Found on https://discourse.32bit.cafe/t/share-your-88x31s/280/92 #}
    <a href="https://www.videolan.org/">
      <img src="https://imagedelivery.net/lVcuT_pwLP04sLLiwgDk2g/09cde30f-7181-4cfa-ee39-e3e45a9ad300/public" alt="VLC Media Player" width="88" height="31">
    </a>

    {# Found on https://discourse.32bit.cafe/t/share-your-88x31s/280/92 #}
    <a href="https://doodad.dev/dither-me-this/">
      <img src="https://imagedelivery.net/lVcuT_pwLP04sLLiwgDk2g/c389c80f-eb1c-4ff9-7e94-db5b25e2e100/public" alt="Dither Me This" width="88" height="31">
    </a>

    {# Found on https://discourse.32bit.cafe/t/share-your-88x31s/280/92 #}
    <a href="https://www.gimp.org/">
      <img src="https://imagedelivery.net/lVcuT_pwLP04sLLiwgDk2g/3dd01fab-593e-4cef-b7be-c9b1552eb900/public" alt="GIMP" width="88" height="31">
    </a>

    {# Found on https://sunpop.neocities.org/junk/pixels #}
    <img src="https://imagedelivery.net/lVcuT_pwLP04sLLiwgDk2g/dc40ab60-b74c-463c-273e-e764db566800/public" alt="Tiger" width="88" height="31">
    <img src="https://imagedelivery.net/lVcuT_pwLP04sLLiwgDk2g/21eb52af-92b7-431a-3c31-c39da2f7ad00/public" alt="I Heart Buttons" width="88" height="31">
    <img src="https://imagedelivery.net/lVcuT_pwLP04sLLiwgDk2g/100f26a0-cb6e-49af-5631-c2acbe47c400/public" alt="Goldfish" width="88" height="31">

    {# Found on https://discourse.32bit.cafe/t/share-your-88x31s/280/22 #}
    <a href="https://ribo.zone/">
      <img src="https://imagedelivery.net/lVcuT_pwLP04sLLiwgDk2g/e8056904-e41e-4f1d-2605-950070dd3f00/public" alt="ribo.zone" width="88" height="31">
    </a>
  </div>
</article>