---
layout: base
permalink: /index.html
title: 'Isaiah Young'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
blog:
  title: 'Captains Logs'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center text-base-light">{{ title }}</h1>
    </div>

    {% svg "divider/waves", null, "seperator" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <p>Welcome to my little corner of the internet. I don't know what I'm doing here, but I'm learning. And that's the point. Please check out some of the things I've worked on.
      <h2 id="an-eleventy-starter">Featured Pages</h2>
      <ul>
        <li><a href="/88x31/index.html">88x31 Buttons</a></li>
        <li><a href="/peter-wolf/index.html">Peter and the Wolf Recordings</a></li>
        <li><a href="/museum/coins/pressedPennies/index.html">Pressed Pennies Collection</a></li>
      </ul>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      <!-- blog intro text is optional. -->

      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}

      <div class="feature |  region">
        <custom-masonry layout="50-50">
          <!-- loop posts -->
          {% set itemList = collections.captainsLogs | reverse %}
					{% asyncEach item in itemList.slice(0, 4) %}
						{% set definedDate = item.date %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
