---
title: Slashes
description: 'Here are my slash pages.'
layout: page
permalink: '/slashes/index.html'
---

<article class="wrapper">
  <table>
    <thead>
      <tr>
        <th>Page</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/88x31/index.html">/88x31</a></td>
        <td>88x31 buttons</td>
      </tr>
      <tr>
        <td>/about</td>
        <td>About me</td>
      </tr>
      <tr>
        <td>/resume</td>
        <td>My resume</td>
      </tr>
      <tr>
        <td><a href="/museum/index.html">/museum</a></td>
        <td>Museum</td>
      </tr>
    </tbody>
  </table>
</article>