---
title: Museum
description: 'The Isaiah Young Museum of Stuff'
layout: page
permalink: '/museum/index.html'
---

<article class="wrapper">
    <h2>Coins</h2>
    <ul>
        <li><a href="/museum/coins/pressedPennies/index.html">Pressed Pennies</a></li>
    </ul>
</article>